.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.App-nav {
  flex-shrink: 1;
  width: auto;
  box-shadow: 1px 0 0 0 #f5f5f5;
}

.App-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: inherit;
}

.App-content-head {
  
}

.App-content-body {
  flex-grow: 1;
  
}

.App-content-foot {
  
}

.navbar.is-white.has-shadow {
  box-shadow: 0 1px 0 0 #f5f5f5;
}
.navbar.is-primary.has-shadow {
  box-shadow: 0 1px 0 0 #00d1b2;
}

.is-family-serif {
  font-family: serif;
}

@media screen and (min-width: 1088px) {
  .App-nav {
    min-width: 300px;
    min-height: 100vh;
  }
}

@media screen and (max-width: 1087px) {
  .App {
    flex-direction: column;
  }
  
  .App-nav {
    box-shadow: 0 1px 0 0 #f5f5f5;
  }
}
