.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.App-menu {
  flex-shrink: 1;
  width: 100%;
}

.App-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: inherit;
}

.App-content-head {

}

.App-content-body {
  flex-grow: 1;
}

.App-content-foot {

}

.Sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  height: 100vh;
}

.Sidebar-nav {

}

.Sidebar-content {
  flex-grow: 1;
  box-shadow: 2px 0 0 0 whitesmoke;
  margin-right: 2px;
  padding: 10px;
}

.navbar-brand-spanner {
  display: flex;
  flex-grow: 1;
}

.is-family-serif {
  font-family: serif;
}

@media screen and (min-width: 1088px) {
  .App-menu {
    min-height: 100vh;
  }
}

@media screen and (max-width: 1087px) {
  .App {
    flex-direction: column;
  }

  .Sidebar {
    height: auto;
  }
  .Sidebar-content {
    display: none;
    flex-shrink: 1;
    flex-grow: 0;
    box-shadow: 0 2px 0 0 whitesmoke;
  }
  .Sidebar-content.is-active {
    display: block;
  }
}
