
@{
    ViewBag.Title = "AddGoal";
}

<div class="hero is-info">
    <div class="hero-body">
        <h1 class="title is-1 is-bold">
            Add new goal here:
        </h1>
        <h2>Select Account: <input type='text' name='goal' value='Savings'></h2>
        <h2>Goal Type: <input type='text' name='goal' value='Save Amount'></h2>
        <h3>Deadline:<input type='text' name='ok' value='06/04/2019'></h3>
        <h4>Amount (USD):<input type='text' name='ok' value='$ 1000'></h4>
    </div>
    <div class="container">
        <button type="button">Cancel Goal!</button>
        <button type="button">Add Goal!</button>
    </div>
</div>
<style>

    input[type="text"] {
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
