@{
    ViewBag.Title = "Goals";
}
<section class="section">
    <div name="qt" id="qt" style='width:60%;float:left;display:inline;overflow:auto;height:500px;border:1px solid #ccc;'>
        <div class="hero is-info">
            <div class="hero-body">
                <h1 class="title is-1 is-bold">
                    Here are your goals:
                </h1>
            </div>
            <table style="width:100%">
                <tr>
                    <th>Goal</th>
                    <th>Accounte</th>
                    <th>Deadline</th>
                </tr>
                <tr>
                    <td>Save Amount</td>
                    <td>Savings</td>
                    <td>06/04/2019</td>
                </tr>
                <tr>
                    <td>Reduce Spending</td>
                    <td>Checking</td>
                    <td>05/15/2019</td>
                </tr>
            </table>
            <button type="button">Add Goal!</button>
        </div>
    </div>
    <!--<div class="hero-body">-->
    <div name="qt" id="qt" style='width:40%;float:right;display:inline;overflow:auto;height:500px;border:1px solid #ccc;'>
        <div class="hero is-info">
            <div class="columns is-vcentered">
                <div class="hero-body">
                    <h1 class="title is-1 is-bold">
                        Goals Statistics:
                    </h1>
                    <div class="hero-body">
                        - Percent of Goals Completed
                    </div>
                    <div class="hero-body">
                        - Total Money Saved
                    </div>
                    <figure>

                    </figure>
                </div>
            </div>
        </div>
    </div>

</section>
