@model HomeViewModel
@{
    ViewData["Title"] = "My Accounts";
}

<div class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">My Accounts</h1>
            <h2 class="subtitle">
                Total balance:
            </h2>
            <div class="columns is-multiline">
                @foreach (var account in Model.Accounts)
                {
                    <div class="column is-4-desktop is-12-touch">
                        <a href="@Url.Action("Index", "Account", new { accountId = account.AccountId })" class="box is-hoverable">
                            @account.Type.ToString()
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
