.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.App-navigation {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 300px;
    height: inherit;
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 3px 0 0 0 whitesmoke;
}

.App-navigation-header {
    flex-shrink: 1;
}

.App-navigation-main {
    flex-grow: 1;
    padding: 1rem;
}

.App-navigation-footer {
    flex-shrink: 1;
    padding: 1rem 1rem 2rem 1rem;
}

.App-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.App-content-header {
    flex-shrink: 1;
}

.App-content-main {
    flex-grow: 1;
    padding-top: 52px;
}

.App-content-footer {
    flex-shrink: 1;
}