<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PocketChange</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
              asp-fallback-href="~/lib/bulma/css/bulma.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="App">
        <div class="App-menu">
            <aside className="Sidebar">
                <div className="Sidebar-nav">
                    <nav className="navbar is-primary" role="navigation" aria-label="main navigation">
                        <div className="navbar-brand">
                            <a className="navbar-item">
                                <img src="img/logo.png" />&nbsp;
                                <span>PocketChange</span>
                            </a>
                            <div className="navbar-brand-spanner"></div>
                            <div className="navbar-item is-hidden-desktop">
                                <div className="dropdown is-right is-hoverable">
                                    <div className="dropdown-trigger">
                                        <span className="icon is-medium">
                                            <i className="fa fa-lg fa-user-circle" />
                                        </span>
                                    </div>
                                    <div className="dropdown-menu" role="menu">
                                        <div className="dropdown-content">
                                            <a className="dropdown-item">
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="sidebarToggle" role="button" className="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="sidebarMenu">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div id="sidebarMenu" className="Sidebar-content">
                    <div className="menu">
                        <ul className="menu-list">
                            <li><a to="/">Home</a>
                            <li><a to="/accounts">Accounts</a>
                            <li>
                                <ul className="menu-list">
                                    <li><a>Savings <small>(x6271)</small></a></li>
                                    <li><a>Checking <small>(x1211)</small></a></li>
                                    <li><a>Credit Card <small>(x7948)</small></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
        <div class="App-content">
            <div class="App-content-head">
                <header className="is-hidden-touch">
                    <nav className="navbar is-primary" role="navigation" aria-label="main navigation">
                        <div className="navbar-end">
                            <div className="navbar-item has-dropdown is-hoverable">
                                <div className="navbar-link">
                                    bankuser1
                                </div>
                                <div className="navbar-dropdown is-boxed is-right">
                                    <a className="navbar-item">
                                        Sign Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="App-content-body">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
            <div class="App-content-foot">
                <footer class="footer">
                    <div class="content">
                        &copy; 2019 - PocketChange - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
